
/* Animation de flottement */
@keyframes floating {
	0%,100% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
}
.banner {
	background-image: url("./assets/images_koukaki/banner.png");
	background-size: cover;
	position: relative;
	overflow: hidden;
	min-height: 806px;
	margin-top: 80px;
}
#logo {
	img {
		width: 75%;
		margin-left: 16%;
		animation: floating 3s infinite alternate;
        animation-delay: 0.5s;
		transition: opacity 1s ease, transform 1s ease;
		position: relative;
	}
}
#logo.active {
    position: relative; /* ou 'fixed' si cela convient mieux à votre mise en page */
    perspective: 1000px; /* Ajustez la perspective selon votre préférence */
    transition: transform 0.2s ease;
	z-index: 2;
}




#background-video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	object-fit: cover;
	height: 100%;
	width:100%;
}
