
/* Animation de flottement */
@keyframes floating {
	0%,100% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
}
.banner {
	background-image: url("./assets/images_koukaki/banner.png");
	background-size: cover;
	position: relative;
	overflow: hidden;
	min-height: 806px;
}
#logo {
	img {
		width: 75%;
		margin-left: 16%;
		animation: floating 3s infinite alternate;
		animation: fadeSlideup 3s ease-in-out forwards, fadeIn 3s ease-in-out forwards;
        animation-delay: 0.5s;
		transition: opacity 1s ease, transform 1s ease;
	}
}
#logo.active {
	transition: transform 0.2s ease;
}
#background-video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	object-fit: cover;
}
