
//Carroussel
.story #characters{
  margin:0;
}
div .main-characters {
  width: 100%;
  
}

/* Réglez la largeur de l'article à 100% */
article {
  max-width: 1440px; /* Utilisation de max-width pour limiter la largeur sur les écrans larges */
  width: 100%;
  margin: 0 auto; /* Centrez l'article horizontalement */
}



.main-character h3 {
  text-align: left;
  background-position:left ;
  padding: 50px 30px;
  margin: 0; 
}

/* Ajustez la largeur du conteneur .swiper pour qu'il soit 100% de la largeur de l'écran */
.swiper {
  //width: 1440px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
/* Ajustez la largeur des diapositives .swiper-slide pour qu'elles s'adaptent aux différents écrans */
.swiper-slide {
  background-position: center;
  background-size: cover;
  margin-left: 10px;
}

.swiper-wrapper{
  overflow: hidden;




@media screen and (max-width: 780px) {
  /* Ajustements pour les écrans jusqu'à 780px de largeur */
  h3 {
    padding: 20px 10px; 
    width: calc(50% - 10px); 
    margin-right: 5px;
    margin-left: 5px;
    height:65px;
  }
}}