
//Carroussel
.story #characters{
  margin:0;
}
div .main-characters {
  width: 1440px;
  
}

/* Réglez la largeur de l'article à 100% */
article {
  max-width: 1440px; /* Utilisation de max-width pour limiter la largeur sur les écrans larges */
  width: 100%;
  margin: 0 auto; /* Centrez l'article horizontalement */
}



.main-character h3 {
  text-align: left;
  background-position:left ;
  padding: 50px 30px;
  margin: 0; 
}
.mySwiper{
  max-width: 1440px;
  margin: 0 auto; /* Centrez le carrousel horizontalement */
}
.swiper {
  //width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 1600px;
  height: 600px;
}

.swiper-slide img {
  display: block;
  max-width: 1440px!important;
  margin: 50px;

}


