
@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}


		.story__article {
			&:after {
				position: absolute;
				display: block;
				transform-origin: center center;
				animation: spin 5s linear infinite;
			}
		}
	

.story h2{
	&:after {
		position: absolute;
		display: block;
		transform-origin: center center;
		animation: spin 5s linear infinite;
	}
}
.site-footer {
	&:after {
		position: absolute;
		display: block;
		transform-origin: center center;
		animation: spin 5s linear infinite;
	}
	ul {
		&:after {
			position: absolute;
			display: block;
			transform-origin: center center;
			animation: spin 5s linear infinite;
		}
	}
	&:before {
		position: absolute;
		display: block;
		transform-origin: center center;
		animation: spin 5s linear infinite;
	}
}
.nomination {
	&:after {
		position: absolute;
		display: block;
		transform-origin: center center;
		animation: spin 5s linear infinite;
	}
	&:before {
		position: absolute;
		display: block;
		transform-origin: center center;
		animation: spin 5s linear infinite;
	}
}
#studio {
	h2 {
		&:before {
			position: absolute;
			display: block;
			transform-origin: center center;
			animation: spin 5s linear infinite;
		}
		&:after {
			position: absolute;
			display: block;
			transform-origin: center center;
			animation: spin 5s linear infinite;
		}
	}
}