//animation fleurs
.story__article:after,
.story :after,
.site-footer:after,
.site-footer ul:after,
.site-footer:before,
.nomination:after,
.nomination:before,

#studio h2:before,
#studio h2:after {
    
   
position: absolute;
display: block;
transform-origin: center center;
animation: spin 5s linear infinite; /*durée de l'animation */

}
@keyframes spin {
 from{transform:rotate(0);
 }

to{
      transform: rotate(360deg);
  }}
