
@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}


.story__article:after,
.story h2:after,
.site-footer:after,
.site-footer ul:after,
.site-footer:before,
.nomination:after,
.nomination:before,
#studio h2:before,
#studio h2:after {
	
	transform-origin: center center;
	animation: spin 5s linear infinite;
}