

/* Vidéo Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 576px) {
    #background-video {
      display: none;
    }
}


/* Nuages Sur les écrans, quand la largeur de la fenêtre fait au maximum 576px */
@media screen and (max-width: 576px) {
  #bigcloud,
  #littlecloud{
    display:none;
  }
}
/* Nuages Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px */
@media screen and (max-width: 767px) {
  #bigcloud {
    margin-top: -47%;
    position:fixed;
  }

  #littlecloud {
    position:fixed;
    margin-left: 47%;
  }
}




  
@media screen and (max-width: 767px) {
  
  .story, #place {
    display: flex;
    flex-direction: column;
  }
  .story, #place,  p {
    margin-top: 3em;
  
  }
}
  
 

