$background-color_1: black;
$background-color_2: transparent;

.toggle_btn {
	width: 42px;
	height: 24px;
	cursor: pointer;
	position: relative;
	float: right;
	margin-top: 30px;
	margin-right: 120px;
	span {
		width: 100%;
		height: 1px;
		background-color: $background-color_1;
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: background-color 0.5s ease-in-out;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: $background-color_1;
			transition: transform 0.5s ease-in-out;
		}

        &::after{
			transform: translateY(10px);
		}
		&::before {
			transform: translateY(-10px);
		}
	}

 &.active {
	span {
		background-color: $background-color_2;
		&::before {
			transform: translateY(0px) rotateZ(45deg);
		}
		&::after {
			transform: translateY(0px) rotateZ(-45deg);
		}
	}
}
}



/*img MenuFull*/

 @keyframes spin {
	to {
	  transform: rotate(360deg);
	}
  }

  @keyframes floatingRight {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(20px); 
	}
  }
  
  .catJauneMenu,
  .catMenu {
	animation: floating 3s infinite alternate; 
  }
  
  .catGrisMenu {
	animation: floatingRight 3s infinite alternate;
}

  .sunFlower,
  .randomMenu {
	width: 75px;
	height: 75px;
	animation: spin 5s linear infinite;
  }
  

  .orchiMenu,
  .catMenu,
  .flowerMenu,
  .catGrisMenu,
  .catJauneMenu,
  .sunFlower,
  .randomMenu,
  .hibisMenu {
	position: absolute;
  }
  
.logoMenu {
	display: block;
	width: 200px;
	margin: auto;
	padding-top: 8%;
  }
  
  
  .orchiMenu {
	top: 70px;
	height: auto;
	max-width: 100%;
	left: -60px;
  }
  
  .catMenu {
	top: 185px;
	left: 355px;
	width: 109px;
	height: 98px;
  }
  
  .flowerMenu {
	top: 403px;
	left: 212px;
	width: 70px;
	height: 70px;
  }
  
  .catGrisMenu {
	top: 410px;
	left: 1042px;
	width: 109px;
	height: 95px;
  }
  
  .catJauneMenu {
	top: 621px;
	left: 101px;
	width: 105px;
	height: 95px;
  }
  
  
  .sunFlower {
	top: 90px;
	left: 994px;
  }
  
  .randomMenu {
	float: right;
	top: 356px;
	left: 1387px;
  }
  
  .hibisMenu {
	top: 597px;
	left: 1122px;
	width: 626px;
	height: 626px;
  }
  
 