$color_1: black;
$background-color_1: #FFF5E9;

.site-title {
    text-align: center;
    marker: none;
    padding-left: 170px !important;
    position: fixed;
}
.main-navigation ul .site-title {
    display: block;
    
}

main {
    overflow: hidden;
}
.main-navigation {
    position: absolute;
    
}

.MenuFull {
    background-color: $background-color_1;
    top: 80px;
    font-size: 44px;
    opacity: 0;
    height: 0;
    max-width: 1440px; 
    width: 100%;
    visibility:hidden;
    transition: opacity 0.5s ease-in, height 0.5s ease-in;
    position: relative;
  

   
 &.nav_open {
    opacity: 1;
    height: 100vh;
    visibility: visible;
    display: block; 
    transition: opacity 0.5s ease-in, height 0.5s ease-in;
    width:100%;
      overflow: hidden;
}
 
.nav_open{
    margin-top: 80px;
}
    
    ul {
        text-align: center;
        height: 65%;
        margin: 0;
        padding:0;
        list-style: none;
    }

    li a {
        text-decoration: none;
        list-style-type: none;
        font-size: 20px;
        font-weight: 500;
        line-height: 104px;

        &:hover {
            filter: drop-shadow(0px 0px 5px #ff5c00);
            -webkit-filter: drop;
        }
    }

    img {
        margin: auto;
        display: flex;
    }

    p {
        font-size: 20px;
        text-align: center;
    }

}
