.nomination {
    position: relative;
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    
    
    
    &::before {
        content: "";
        background-image: url('./assets/images_koukaki/Sunflower.png');
        background-size: cover;
        background-position: center;
        position: absolute;
        left: -130px;
        top: -80px;
        width: 200px; 
        height: 200px; 
    }

    &::after {
        content: "";
        background-image: url('./assets/images_koukaki/orchid.png');
        background-size: cover;
        background-position: center;
        position: absolute;
        right: -212px;
        top: -86px;
        width: 200px; 
        height: 200px; 
        z-index: -1;

    } }

    .imageNomination{
            display: flex;
            justify-content: space-between;
            margin: auto;
        
    }
    #oscars{
        position:relative;
        overflow: hidden; /* Empêche le débordement des éléments enfants */

    }
    
    .titreOscar h3 img {
       width:50%;
        font-size: 22px;  
    }
    h3 {
      
        font-size: 2rem;
        background-image: url('./assets/images_koukaki/orange.png');
       
    }

    @media screen and (max-width: 1192px) {
        #nomination, .imageNomination {
            display: flex;
            flex-direction: column;
        .titreOscar h3 {
                 font-size: 1rem !important;
        }
        }
    }
    @media screen and (max-width: 1192px){
    
    .oscar, img{
        max-width: 50%;
        margin-left: 21%;
        margin-top: 5%;
    }
}

   
