.nomination {
    position: relative;
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    
    &::before {
        content: "";
        background-image: url('./assets/images_koukaki/Sunflower.png');
        background-size: cover;
        background-position: center;
        position: absolute;
        left: -130px;
        top: -80px;
        width: 200px; /* Ajustez la largeur selon vos besoins */
        height: 200px; /* Ajustez la hauteur selon vos besoins */
    
    }

    &::after {
        content: "";
        background-image: url('./assets/images_koukaki/orchid.png');
        background-size: cover;
        background-position: center;
        position: absolute;
        right: -212px;
        top: -125px;
        width: 200px; /* Ajustez la largeur selon vos besoins */
        height: 200px; /* Ajustez la hauteur selon vos besoins */
        z-index: -1;

    } }

    #oscars{
        overflow: hidden; /* Empêche le débordement des éléments enfants */

    }
    

    .imageNomination {
        mix-blend-mode: darken;
        margin-top: -30px;
        
    }

    .titreOscar {
        font-size: 40px;
        font-weight: 700;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding: 1.8em 2em;
        line-height: 45px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('./assets/images_koukaki/orange.png');

        h2 {
            text-align: left;
        }
    }

    