
.story #place {
    display: flex;
    background-image: url("./assets/images_koukaki/Studio_Koukaki-image_place.png");
    width: 100%;
    min-height:699px;
    background-size: cover;
   
}
.story #place > div p {
    padding-left: 5em;
    width: 100%;
}

 .story #place .cloud {
    
    width: 954px;
    height: 338px;
    left: 823px;
    filter: blur(10px);
   
}

#littlecloud{
     margin-top:50px;
   transition: transform 0.2s ease; /* Ajoutez une transition pour le mouvement en douceur */
}
    

#bigcloud{
        margin-left: 260px;
    
        transition: transform 0.2s ease; /* Ajoutez une transition pour le mouvement en douceur */
    }
    
    
 

   
    .story #place .cloud {
        width: 100%;
        height: auto;
        top: auto;
        left: auto;
        right: 0;
    }
    #littlecloud, #bigcloud {
        margin: 0 auto;
        display: none;
    }



