
.story #place {
    display: flex;
    background-image: url("./assets/images_koukaki/Studio_Koukaki-image_place.png");
    width: 100%;
    min-height:699px;
    background-size: cover;
   
}

 .story #place .cloud {
    position: absolute; 
    width: 954px;
    height: 338px;
    top: 1450px;
    left: 693px;
    filter: blur(10px);
   
}

#littlecloud{
     margin-top:50px;
   transition: transform 0.2s ease; /* Ajoutez une transition pour le mouvement en douceur */
}
    

#bigcloud{
        margin-left: 260px;
    
        transition: transform 0.2s ease; /* Ajoutez une transition pour le mouvement en douceur */
    }
    

  /* Media queries pour la mise en page responsive */
@media screen and (max-width: 1400px) {
    .story #place {
        min-height: 500px;
    }

    .story #place .cloud {
        width: 80%;
        max-width: 954px;
        height: auto;
        top: auto;
        left: auto;
        right: 0;
        filter: none;
    }

    #littlecloud, #bigcloud {
        margin: 0 auto;
    }
}

@media screen and (max-width: 780px) {
    .story #place {
        min-height: 300px;
    }
    .h2 {
    font-size: 2rem;
    }
    .story #place .cloud {
        width: 100%;
        height: auto;
        top: auto;
        left: auto;
        right: 0;
    }
    #littlecloud, #bigcloud {
        margin: 0 auto;
        display: none;
    }
}


