// sections qui descends et montent..............................
.banner,
.studio,
.site-footer,
.story {
  opacity: 0;
 transform: translateY(0);
}

.banner {
  animation: fadeSlideDown 3s ease-in-out forwards, fadeIn 3s ease-in-out forwards;
  animation-delay: 0.5s; /* Ajout d'un délai pour que l'animation de la bannière soit plus visible */
}

.studio,
.site-footer, 
.story, 
.banner img{
  animation: fadeSlideup 3s ease-in-out forwards, fadeIn 3s ease-in-out forwards;
  animation-delay: 0.5s; /* Ajout d'un délai pour que l'animation des autres sections soit plus visible */
}

@keyframes fadeSlideDown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeSlideup {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

