
   
   .story__article:after{
    height:187.99px !important;
   }
   .story :after{
    height:155px;
   }
   .site-footer:after{
    height: 173px;
    display: none !important;
    }
   
   .site-footer ul:after{
    height:626px;
   }
  
   .site-footer:before{
    height:155px;
      display: none !important;
  }
  
    #studio h2:before {
        height:203px !important;
      }
    #studio h2:after {
      height:109px;
    }
    
    @media (max-width: 768px) {
      .site-footer:after {
          height: auto;
      }
  
      .story__article:after {
          height: auto !important;
      }
  
      .story:after {
          height: auto;
      }
  
      .site-footer:after,
      .site-footer ul:after,
      .site-footer:before,
      #studio h2:before,
      #studio h2:after {
          height: auto !important;
          display: none !important;
      }
    }