
/* CSS pour l'animation de fade-in */
.fadeIn {
    opacity: 0; /* L'élément est initialement invisible */
    transition: opacity 0.5s ease-in; /* Ajoute une transition pour l'opacité */
}

/* Lorsque la classe 'visibility' est ajoutée, l'élément devient visible */
.fadeIn.visibility {
    opacity: 1;
}

    //apparition titres

.titleAnimation {
    display: inline-block;
    margin-right: 15px;
    opacity: 0;
    transform: translateY(100%);

    transition: opacity 0.2s ease-in, transform 0.5s ease-in;

    &.visibility {
        opacity: 1;
        transform: translateY(0);
    }
}

